*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;}
header{
    font-style:italic;
    font-weight: bold}
body {
            font-family: 'Work Sans';}
a {
            color: #000000;
            text-decoration: none;}
a:hover {
            color:#8b8b8b; 
            text-decoration:none; 
            cursor:pointer;}

.container-grid{
        width: 1200px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;}
.logo {
        width: 65%;
        margin-left: 60%;}
.pesquisa{
        width: 50%;
        margin-top: -5px
        ;}
.login{
        width: 225px;
        height: 36px;
        display: flex;
        justify-content: space-between;}
.menu{
            width: 800px;}
.column {
        flex: 50%;
        padding: 0 4px;
        padding-left: 300px;}
              
.column img {
        margin-top: 8px;
        vertical-align: top;}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
td {
        border: 1px solid black;
        text-align: center;
        padding: 10px;}
table {
                width: 25%;}
th {    
        height: 70px;}

.tbrow {
        margin-left:-5px;
        margin-right:-5px;}
.tbcolumn {
        float: left;
        width: 50%;
        padding: 5px;}
.tbrow::after {
        content: "";
        clear: both;
        display: table;}

.footer {
        width: 100%;
        background-color: #797979;
        color: black;
        text-align: left;
        padding-top: 10px;}
ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 350px;}
.socialmedia {
        display: inline;
        justify-content: space-between;
}
.socialmedia img {
        width: 50px;
}
hr {
        width: 35%;
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-style:solid;
        color: #000000;
        border-width: 1px;
        } 
.logocompleto {
display: flex;
justify-content: right;
}
.logocompleto img {
        width: 35%;
}